In [11]:
import sqlalchemy as db
#create engine

import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=TWINBANJ\MSSQLSERVERDEV;DATABASE=adamdb")

engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
import os
os.getcwd()

conn = engine.connect()
trans = conn.begin()

In [2]:
import pandas as pd
#import data and create test table in SQL server

df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv')
df.to_sql('Test_table11111',engine)
df.head()

C:\Users\Adam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,G0102005,ALLEN EB,Y11,QAL,"FIRCROFT, LONDON ROAD",ENGLEFIELD GREEN,EGHAM,SURREY,Unnamed: 8,TW20 0BS,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,0,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,G0102926,ANDERSON MG,Y61,Q79,LENSFIELD MEDICAL PRAC.,48 LENSFIELD ROAD,CAMBRIDGE,CAMBRIDGESHIRE,NaN,CB2 1EH,...,01223 651020,NaN,NaN,NaN,0,NaN,06H,NaN,NaN,NaN
1,G0105912,ADLER S,Y56,Q71,682 FINCHLEY ROAD,GOLDERS GREEN,LONDON,NaN,NaN,NW11 7NP,...,020 84559994,NaN,NaN,NaN,0,NaN,07M,NaN,NaN,NaN
2,G0107031,ATTWOOD DC,Y62,Q83,GREAT LEVER HEALTH CENTRE,"RUPERT STREET,GREAT LEVER",BOLTON,LANCASHIRE,NaN,BL3 6RN,...,01204 462141,NaN,NaN,NaN,0,NaN,00T,NaN,NaN,NaN
3,G0107725,ALEXANDER PJ,Y01,QDF,10 WEST END,SWANLAND,HUMBERSIDE,NaN,NaN,HU14 3PE,...,0482 633570,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4,G0108018,ALLDRIDGE DGE,Y59,Q88,OAKFIELD,158 STATION ROAD,REDHILL,SURREY,NaN,RH1 1HF,...,01737 642207,NaN,NaN,NaN,0,NaN,09L,NaN,NaN,NaN

In [3]:
gp = pd.read_sql("""SELECT * FROM [dbo].[ODS_GP_V02]""", engine)
gp

ProgrammingError: (pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'dbo.ODS_GP_V02'. (208) (SQLExecDirectW)")
[SQL: SELECT * FROM [dbo].[ODS_GP_V02]]
(Background on this error at: http://sqlalche.me/e/f405)

In [4]:
#drop the test table
engine.execute("""DROP TABLE dbo.Test_table11111""")

In [18]:
conn.close()

In [17]:
conn = engine.connect()
conn.execute('USE [adamdb]'
               'CREATE TABLE "dbo.EX1" ('
               'id INTEGER NOT NULL,'
               'name VARCHAR, '
               'PRIMARY KEY (id));')
trans.commit()
conn.close()

InvalidRequestError: This transaction is inactive

In [9]:
query = """ USE [adamdb]

CREATE TABLE [dbo].[ODS_GP_V02](
[DSS_KEY] [int] IDENTITY(1,1) NOT NULL,
[CODE] [varchar](8) NOT NULL,
[NAME] [varchar](50) NOT NULL,
[NATIONAL_GROUPING] [varchar](5) NULL,
[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](5) NOT NULL,
[ADDRESS_LINE_1] [varchar](35) NULL,
[ADDRESS_LINE_2] [varchar](35) NULL,
[ADDRESS_LINE_3] [varchar](35) NULL,
[ADDRESS_LINE_4] [varchar](35) NULL,
[ADDRESS_LINE_5] [varchar](35) NULL,
[POSTCODE] [varchar](8) NULL,
[OPEN_DATE] [date] NOT NULL,
[CLOSE_DATE] [date] NULL,
[STATUS_CODE] [varchar](1) NOT NULL,
[ORGANISATION_SUB_TYPE_CODE] [varchar](1) NOT NULL,
[PARENT_ORGANISATION_CODE] [varchar](6) NOT NULL,
[JOIN_PARENT_DATE] [date] NOT NULL,
[LEFT_PARENT_DATE] [date] NULL,
[CONTACT_TELEPHONE_NUMBER] [varchar](12) NULL,
[CURRENT_CARE_ORGANISATION] [varchar](5) NULL,
[DSS_RECORD_START_DATE] [date] NOT NULL,
[DSS_RECORD_END_DATE] [date] NULL,
[DSS_SYSTEM_CREATED_DATE] [date] NOT NULL,
[DSS_SYSTEM_UPDATED_DATE] [date] NOT NULL,
 CONSTRAINT [PK_ODS_GP_V02_DSS_KEY] PRIMARY KEY CLUSTERED
(
[DSS_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_END_DATE] UNIQUE NONCLUSTERED
(
[CODE] ASC,
[DSS_RECORD_END_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_START_DATE] UNIQUE NONCLUSTERED
(
[CODE] ASC,
[DSS_RECORD_START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
"""

In [10]:
engine.execute(query)
trans.commit()
conn.close()